/* Colors Used:
Primary color(purple): A074BD, (160,116,189)
Secondary color(gray): 6F6F6F, (111,111,111)
Accent color(teal): 6CB9AA,(108,185,170)
Text color(black): 000000, (0,0,0)
background (white): FFFFFF, (255,255,255)

Font family: Merriweather and Open Sans
*/
* {
  box-sizing: border-box;
  /*sets default width of all elements to include padding and border*/
}

body {
  background-color: #f9f9f9;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #FFFFFF;
  font-family: 'Merriweather', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  /*need to check what line height is best*/
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p {
  font-family: 'Open Sans', sans-serif;
  /*font-size: 16px;*/
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

a {
  font-weight: 700;
  color: #449A89;
  /*variation of accent color*/
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #A074BD;
}

a:hover, a:focus {
  color: #298271;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #7E4DA0;
}

/*fixing hyperlink styles for navigation*/
.navlinks {
  font-size: 16px;
  color: #000000;
}

.navlinks:visited {
  color: #000000;
}

.navlinks:hover, .navlinks:focus {
  color: #ffffff;
  text-decoration: none;
}

.navlinks:active {
  color: #ffffff;
}

/*.navlinks.name {
  font-size: 24px;
}*/
.button {
  display: inline-block;
  background-color: #298271;
  color: #ffffff;
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #A074BD;
  /*width of border, type, color*/
  transition: 0.2s opacity;
}

.button:visited {
  color: #ffffff;
}

.button:hover, .button:focus {
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
}

.button:active {
  background-color: #6CB9AA;
  color: #000000;
  border-bottom: 2px solid #7E4DA0;
}

.button-contact {
  background-color: transparent;
  color: #298271;
  text-transform: uppercase;
  border: 2px solid #298271;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s;
  /*width: 100%;*/
}

.button-contact:hover, .button-contact:focus {
  background-color: #449A89;
  text-decoration: none;
  color: #000000;
}

.button-contact:active {
  background-color: #449A89;
  color: #000000;
}

.li-skilltool>li {
  font-family: 'Open Sans', sans-serif;
}

/*.logo {
  max-width: 150px;}
  /*affects img size only, need to update logo with name included
*/
/*Layout Styling*/
.container, .prototype {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 2px solid #6F6F6F;
}

#hero h1 {
  font-size: 2em;
  text-align: center;
  /* Centers text */
}

#hero p {
  text-align: center;
}

#logo-link {
  display: inline-block;
  max-width: 175px;
  width: 100%;
  /*affects link text and img size*/
}

#logo-link:hover, #logo-link:focus {
  opacity: 0.8;
  text-decoration: none;
}

header {
  background-color: #A074BD;
  padding: 10px 0;
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.7);
  position: fixed;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  margin: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  /*color: #4a4a4a;*/
  /*for :visited, :hover, :active, styles have been changed using class navlinks (check stylings above in lines 66-83)*/
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 14px;
  font-size: 20px;
  color: #000000;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 15px 0;
  border-top: 1px solid rgba(126, 77, 160, 0.75);
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 15px;
}

#hero {
  background-color: rgba(108, 185, 170, 0.5);
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 85px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #f9f9f9;
  display: inline-block;
  width: 100%;
}

footer h2 {
  margin: 5px 0;
  font-size: 2em;
}

/*footer a {
  margin: 5px 0 10px 0;
}*/
footer p {
  margin: 10px 0;
}

.social {
  text-align: center;
  /*display: inline-block;
  width: 100%;
  margin: 10px 5px;*/
}

.social>a {
  font-size: 50px;
  margin: 0 10px;
  display: inline-block;
}

.prototype {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 0 0 20px;
}

.aboutsection, .skilltool {
  text-align: center;
}

/*Don't show the embedded protoype on mobile screens*/
.prototype iframe {
  display: none;
}

.prototype a {
  display: block;
}

/*animation*/
html {
  scroll-behavior: smooth;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 15px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 14px;
  }

  #logo-link {
    max-width: 250px;
  }

  .navlinks {
    font-size: 18px;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
    position: relative;
  }

  /*projects dropdown*/
  nav>ul>li>ul {
    position: absolute;
    top: 100%;
    left: 0;
    padding-left: 0;
    background: rgba(255,255,255,0.5);
    transition: all 0.3s;
    min-width: 150px;
    display: none;
  }

  nav>ul>li:hover ul {
    display: block;
  }

  nav>ul>li>ul>li, .navtoggle li li:not(:last-child), .navtoggle li li:last-child {
    display: block;
    width: 100%;
    text-align: center;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    display: inline-block;
    padding: 0;
    border-top: 0;
  }

  .navtoggle.responsive li:last-child {
    display: none;
  }

  main {
    padding-top: 125px;
  }

  body {
    font-size: 18px;
  }

  p {
    font-weight: 400;
  }

  #hero h1, #hero p {
    text-align: left;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3, #about-page h4 {
    margin-top: 0;
  }

  .prototype a {
    display: none;
  }

  .prototype iframe {
    display: inline-block;
    text-align: center;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .navlinks {
    font-size: 20px;
  }

  main {
    padding-top: 127px;
  }

  body {
    font-size: 20px;
  }

  #hero h1, #hero p {
    padding-left: 20px;
  }

  .knowme p {
    font-size: 18px;
  }

  .resume {
    margin-top: 25px;
  }

  .projtitle {
    margin: 10px 0;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-10 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 15px;
  }

  li {
    font-weight: 400;
  }

  .selfie {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /*navigation animation*/
  nav>ul>li>a:before {
    width: 100%;
    position: absolute;
    height: 2px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
  }

  nav>ul>li>a:hover:before {
    height: 100%;
  }

  h3 {
    font-weight: 500;
  }

  .home_skills {
    font-size: 16px;
    font-weight: 600;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .navlinks {
    font-size: 24px;
  }

  .knowme p {
    font-size: 20px;
  }

  [class*="col-"] {
    float: left;
    padding: 0 20px;
  }

  /*navigation animation*/
  nav>ul>li>a:before {
    width: 100%;
    position: absolute;
    height: 2px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
  }

  nav>ul>li>a:hover:before {
    height: 100%;
  }

  .projtitle {
    margin: 40px 0;
  }
}
